<footer class="footer fixed-bottom">
    <div class="container">
        <div class="text-primary justify-content-between">
            <span class="float-left" data-toggle="modal" data-target="#about">About</span>
            <span class="float-right">Made by Ruben Krueger</span>
        </div>
    </div>
</footer>


<div class="modal" id="about">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>