<!DOCTYPE html>
<html>
<head>
  <title>PhysData</title>
  <% include partials/head.ejs%>

  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
  <script>
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyCWMtl3kKoLsy4TfCTZbDgs6PIstvLv75Y",
          authDomain: "affine-finance-1539407805284.firebaseapp.com",
          databaseURL: "https://affine-finance-1539407805284.firebaseio.com",
          projectId: "affine-finance-1539407805284",
          storageBucket: "affine-finance-1539407805284.appspot.com",
          messagingSenderId: "406871698063"
      };
      firebase.initializeApp(config);
  </script>


</head>
<body>
<div class="container-fluid">


  <div class="row">

    <div class="col">
      <h1>PhysData </h1>
    </div>

    <div class="col">
      <div class="search">
        <input class="form-control" type="text" id="search_bar" placeholder="Name" aria-label="Search">
      </div>
    </div>

    <div class="col">
      <button type="button" id="button" class="btn btn-primary" onclick="search()">Search</button>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <div id="map"></div>

    </div>

    <div class="col">
        <div class="jumbotron">
          <h1 class="display-4" id="title">Hello!</h1>
          <p class="lead" id="address">Search for a physician at the top.</p>
          <p class="lead" id="city/state/zip"></p>
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="#" role="button">Random</a>
        </div>
      </div>
  </div>


</div>





<script>

    // global map variable
    var map;

    let geocoder;

    function search() {

        let name = document.getElementById('search_bar').value

        if(name === "") return;

        var ref = firebase.database().ref('physicians/' + name);


        ref.on('value', function(snapshot) {
            console.log(snapshot.val());
            var data = snapshot.val();

            if(data == null) {
                document.getElementById('title').innerText = 'None found';
            }
            else {
                document.getElementById('title').innerText = data.name;
                document.getElementById('address').innerText = data.street;
                document.getElementById('city/state/zip').innerText = data.city + ', ' + data.state + ' ' + data.zip;
                addMarker(data);
            }
        });


    }


    function addMarker(data) {

        geocoder.geocode({'address': data.street}, function (results, status) {
            if (status === 'OK') {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: data.name
                });
                console.log(results[0]);
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function initMap() {
        // roughly center of the US
        var myLatLng = {lat: 39.8283, lng: -98.5795};

         map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        geocoder = new google.maps.Geocoder();


    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLRPVgRK749OxEcDQ4sDYpwZynhAVChTg&callback=initMap">
</script>



<% include partials/footer.ejs%>
</body>
</html>



